[pipenv]
allow_prereleases = true


[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
locust = "*"
looker-sdk = "*"
urllib3 = "==1.24.3"

[dev-packages]

[requires]
python_version = "3.8.5"
